
<html>
<head>
<title> JSON to CSV </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<style>
body {
   background-repeat:no-repeat;

   background-size:cover;
}
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=textarea]{

    width: 700px;
    height: 300px;
    size :200;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#salem{
  color:red ;
  font-size: 35;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}



/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.row {
  margin: 0;
}

.navbar-default {
  height: 100px;
  padding-top: 23px;
  padding-left: 70px;
  border: 0;
  border-radius: 0 !important;
  background: #2c3e50;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar-default .navbar-brand:hover {
  color: #18bc9c;
  transition: color 0.3s ease;
}


.form-container {
  height: 600px;
  border-left: 1px solid gray;
  padding-left: 30px;
}

.form-control {
  width: 90%;
}
</style>
<body>

<nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">JSON to CSV</a>
          </div>
      </div>
  </nav>

<form action="/" method="post">

  <div class="container">
  <div>  <% if(typeof error != "undefined"){ %>
      <label id ="salem"><b> Invalid Request </b> </label>
   <% } else{ %>
  <% } %>
</div>




    <label><b>Input JSON</b></label>
    <!-- <input type="text"  placeholder="Enter JSON" name="text" required> -->
    <textarea rows="20" cols="150" name = "text" required>
        </textarea>
    <button type="submit">Convert</button>
  </div>



  <div class="container">
    <div>  <% if(typeof csv != "undefined"){ %>
        <textarea rows="10" cols="150" name = "textoutput" required readonly> <%= csv %>
        </textarea>
     <% } else{ %>
        <textarea rows="10" cols="150" name = "textoutput" required readonly> CSV Format
        </textarea>
    <% } %>
  </div>


</form>
</body>
</html>
